@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <div class="content px-4">
            <CascadingValue Name="HeadingColor" Value="@_color">
                 <CascadingValue Value="@_color2">
                @Body
                </CascadingValue>
            </CascadingValue>
        </div>
    </main>
</div>

@code {
    private readonly string _color = "#0505b5";
    private readonly string _color2 = "#123456";
}